body{
    margin-top: 200px;
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgb(243, 124, 70),rgb(94, 230, 230) 80%);
}
#page-heading{
    text-align: center;
    margin-top: 25px;
    color:black;
    font-size: 2.7rem;
}
.contact .details{
    margin-bottom: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    color: aliceblue;
    height: 30px;
    line-height: 0.2rem;
    width: 100%;
  
}
.contact{
    background-color: rgb(12, 43, 80);
    display: flex;
    border: 1px solid white;
}
.contact:hover{
    background-color: grey;
    cursor: pointer;
}
.details p{
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 1% ;
    /* margin-right: 2%; */
}
#contact-list-container{
    margin-left: 32% ;
    width: 500px;
}
.contact .delete{
    width: 10%;
    padding: 3px;
    text-align: center;
    margin-top: 5px;
}
.contact .delete a{
    color: white;
    background-color: red;
}

#contact-list-container ul{
    
list-style-type: none;

padding: 0;

}

form{
    text-align: center;
    margin-left: 1.5%;
}
input{
    border: none;
    border-bottom: 1px solid black;
    font-family: sans-serif;
    font-size: 1.6rem;
}
button{
    background-color: black;
    border: none;
    padding: 5px;
    color: white;
    font-size: 1.2rem;
}

